a {
    color: blue;
}
.layui-colla-content {
    /* 使文本自动换行 */
    word-wrap:break-word;
}
.layui-colla-title {
    /* 禁止选中 */
    user-select:none;
}
button {
    margin-right: 10px
}
body {
    overflow-y: scroll;
}
.nowrap {
    white-space:nowrap;
    margin-right: 30px;
    line-height: 40px;
}
.logo {
    width: 20px;
    margin-right: 10px;
}

.underline{
    color: black !important;
    height: 50px;
    margin: 0 10px;
    position: relative;
}

.underline:after{
    content: "";
    width: 0;
    height: 1px;
    background: black;
    position: absolute;
    top: 100%;
    left: 50%;
    transition: all .6s;
}

.underline:hover:after{
    color: black;
    left: 0;
    width: 100%;
}
